<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="pt">
    <head>
        <style>
            body {
              background-color: rgb(4, 4, 49);
            }
            content{
                display: block;
            }
            
        </style>

        <meta charset="UTF-8">
        <title>Meu primeiro CRUD Node.js</title>
    </head>
    <body>
        <div class="content">
            <h2 class="text-center text-warning">Lista de Eletrônicos</h2>
        </div>
        <br>
        <br>
        <br>

        <div class="container-fluid">
        <table>
            <tr>
                <td>
                    <button class="btn btn-primary btn-lg btn-block .btn btn-warning"><a href="/">Menu</a></button>
                </td>
                <td>
                    <button class="btn btn-primary btn-lg btn-block .btn btn-warning"><a href="/homeE">Cadastrar Produto Eletrônico</a></button>
                </td>
            </tr>
        </table>
        <br>
        <table border='3' class="table table-bordered table-dark table-striped">
            <thead>
                <tr>
                    <td>
                        <label for="exampleFormControlInput1"><h7>Nome</h7></label>
                    </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>Marca</h7></label>
                    </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>Valor (R$)</h7></label>
                    </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>Cor</h7></label>
                    </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>Voltagem (V)</h7></label>
                    </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>Descrição</h7></label>
                    </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>Garantia</h7></label>
                    </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>Modelo</h7></label>
                    </td>
                
                </tr>
            </thead>
            <tbody>
                <%  data.forEach( function(details){ %>
                    <tr>
                        <td><%= details.nome%></td>
                        <td><%= details.marca%></td>
                        <td><%= details.valor%></td>
                        <td><%= details.cor%></td>
                        <td><%= details.voltagem%></td>
                        <td><%= details.descricao%></td>
                        <td><%= details.garantia%></td>
                        <td><%= details.modelo%></td>
                        <td><a href="/editE/<%= details._id %>">Editar</a></td>
                        <td><a href="/deleteE/<%= details._id %>">Excluir</a></td>
                    </tr>
                <%  })%>    
            </tbody>
        </table>
    </div>
    </body>

</html>