<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="pt">
    <head>
        <style>
            body {
              background-color:black;
            }
        </style>
    


        <meta charset="UTF-8">
        <title>Listagem de Roupas

        </title>

    </head>
    <body>
        <h2 class="text-center text-warning">Listagem de Roupas</h2>
        <button = class="btn btn primary btn-lg btn-block. btn btn-warning"><a href="/homeR/">Cadastrar</a></button>
        <div class="form-group">
            <table border='1' class="table table-bordered table-dark">
    
            <thead>
                <tr>
                    <td>
                        <label for="exampleFormControlInput1"><h7>tamanho:</h7></label> 
                    </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>tecido:</h7></label>  
                    </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>tipo:</h7></label> 
                   </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>Cor:</h7></label> 
                    </td>
                    <td>
                        <label for="exampleFormControlInput1"><h7>valor:</h7></label> 
                    </td>
                   <td>
                        <label for="exampleFormControlInput1"><h7>marca:</h7></label>
                   </td>
                   <td>
                        <label for="exampleFormControlInput1"><h7>coleção:</h7></label>
                   </td>
                   <td>
                        <label for="exampleFormControlInput1"><h7>descrição:</h7></label> 
                  </td>
                </tr>
            </thead>
            <tbody>>
                <% data.forEach( function(details) { %>
                    <tr>
                        <td><label for="exampleFormControlInput1"><h7><%= details.tamanho%></h7></label></td>
                        <td><label for="exampleFormControlInput1"><h7><%= details.tecido%></h7></label></td>
                        <td><label for="exampleFormControlInput1"><h7><%= details.tipo%></h7></label></td>
                        <td><label for="exampleFormControlInput1"><h7><%= details.Cor%></h7></label></td>
                        <td><label for="exampleFormControlInput1"><h7><%= details.valor%></h7></label></td>
                        <td><label for="exampleFormControlInput1"><h7><%= details.marca%></h7></label></td>
                        <td><label for="exampleFormControlInput1"><h7><%= details.coleção%></h7></label></td>
                        <td><label for="exampleFormControlInput1"><h7><%= details.descrição%></h7></label></td>
                        <td><a href="/editR/<%= details._id%>">Editar</a> </td>
                        <td><a href="/deleteR/<%= details._id%>">Excluir</a> </td>
                    </tr>

                <%   })%>

       
            </tbody>
        </table>
    </body>
</html>