<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Meu primeiro CRUD Node.JS

        </title>

    </head>
    <body>
      <h2 class="text-center text-warning">Editar</h2>
         <% data.forEach(function(details){ %>
            <form action="/edit/<%= details._id %>" method="POST"  >
              <label for="exampleFormControlInput1"><h5>tamanho:</h5></label> 
            

                    <% if(details.tamanho.match('P'))  { %>
                    <input type="radio" id="P" name="tamanho" value="P" required="required" checked >
                    <label for="P">P</label>
                      <% }else  { %>
                        <input type="radio" id="P" name="tamanho" value="P" required="required" >
                        <label for="P">P</label>
                          <% } %>
                          <% if(details.tamanho.match('M'))  { %>
                            <input type="radio" id="M" name="tamanho" value="M" required="required" checked >
                            <label for="M">M</label>
                              <% }else  { %>
                                <input type="radio" id="M" name="tamanho" value="M" required="required" >
                                <label for="M">M</label>
                                  <% } %>
                                  <% if(details.tamanho.match('G'))  { %>
                                    <input type="radio" id="G" name="tamanho" value="G" required="required" checked >
                                    <label for="G">G</label>
                                      <% }else  { %>
                                        <input type="radio" id="G" name="tamanho" value="G" required="required" >
                                        <label for="G">G</label>
                                          <% } %>
                                          <% if(details.tamanho.match('GG'))  { %>
                                            <input type="radio" id="GG" name="tamanho" value="GG" required="required" checked >
                                            <label for="GG">GG</label>
                                              <% }else  { %>
                                                <input type="radio" id="GG" name="tamanho" value="GG" required="required" >
                                                <label for="GG">GG</label>
                                                  <% } %>
                                                  <br>


                    <label for="exampleFormControlInput1"><h5>tecido:</h5></label> 
                <% if(details.tecido.includes('Seda') ){ %>
                    <td><INPUT TYPE=CHECKBOX NAME=tecido VALUE=Seda checked>Seda</td>
                <% } else{ %>
                    <td><INPUT TYPE=CHECKBOX NAME=tecido VALUE=Seda>Seda</td>
                <% } %>
                <% if(details.tecido.includes('Algodão') ){ %>
                    <td><INPUT TYPE=CHECKBOX NAME=tecido VALUE=Algodão checked>Algodão</td>
                <% } else{ %>
                    <td><INPUT TYPE=CHECKBOX NAME=tecido VALUE=Algodão>Algodão</td>
                <% } %>
                <% if(details.tecido.includes('Poliester') ){ %>
                    <td><INPUT TYPE=CHECKBOX NAME=tecido VALUE=Poliester checked>Poliester</td>
                <% } else{ %>
                    <td><INPUT TYPE=CHECKBOX NAME=tecido VALUE=Poliester>Poliester</td>
                <% } %>
                <br>
                <label for="exampleFormControlInput1"><h5>tipo:</h5></label> 
                <% if(details.tipo.match('Camisa'))  { %>
                <input type="radio" id="Camisa" name="tipo" value="Camisa" required="required" checked >
                <label for="exampleFormControlInput1"><h5>Camisa:</h5></label> 
                <% }else  { %>
                  <input type="radio" id="Camisa" name="tipo" value="Camisa" required="required" >
                <label for="exampleFormControlInput1"><h5>Camisa:</h5></label> 
                <% } %>
                
                <% if(details.tipo.match('Calça'))  { %>
                    <input type="radio" id="Calça" name="tipo" value="Calça" required="required" checked>
                    <label for="exampleFormControlInput1"><h5>Calça:</h5></label> 
                    <% }else  { %>
                      <input type="radio" id="Calça" name="tipo" value="Calça" required="required" >
                    <label for="exampleFormControlInput1"><h5>Calça:</h5></label>
                    <% } %>
                    
                    
                 <% if(details.tipo.match('Meia'))  { %>
                    <input type="radio" id="Meia" name="tipo" value="Meia" required="required"checked >
                    <label for="exampleFormControlInput1"><h5>Meia:</h5></label>
                    <% }else  { %>
                      <input type="radio" id="Meia" name="tipo" value="Meia" required="required" >
                      <label for="exampleFormControlInput1"><h5>Meia:</h5></label>
                      <% } %>
                 <% if(details.tipo.match('Boné'))  { %> 
                    <input type="radio" id="Boné" name="tipo" value="Boné" required="required"checked >
                    <label for="exampleFormControlInput1"><h5>Boné:</h5></label>
                    <% }else  { %>
                      <input type="radio" id="Boné" name="tipo" value="Boné" required="required" >
                    <label for="exampleFormControlInput1"><h5>Boné:</h5></label>

                      <% } %>
                 <% if(details.tipo.match('Tênis'))  { %>
                    <input type="radio" id="Tênis" name="tipo" value="Tênis" required="required" checked >
                    <label for="exampleFormControlInput1"><h5>Tênis:</h5></label> 
                    <% }else  { %>
                      <input type="radio" id="Tênis" name="tipo" value="Tênis" required="required"  >
                    <label for="exampleFormControlInput1"><h5>Tênis:</h5></label>

                      <% } %>
                 <% if(details.tipo.match('Casaco'))  { %>
                    <input type="radio" id="Casaco" name="tipo" value="Casaco" required="required" checked> 
                    <label for="exampleFormControlInput1"><h5>Casaco:</h5></label> 
                    <% }else  { %>
                      <input type="radio" id="Casaco" name="tipo" value="Casaco" required="required" > 
                      <label for="exampleFormControlInput1"><h5>Casaco:</h5></label> 

                      <% } %>
                 <% if(details.tipo.match('Pijama'))  { %>
                    <input type="radio" id="Pijama" name="tipo" value="Pijama" required="required" checked>
                    <label for="exampleFormControlInput1"><h5>Pijama:</h5></label> 
                    <% }else  { %>
                      <input type="radio" id="Pijama" name="tipo" value="Pijama" required="required" >
                    <label for="exampleFormControlInput1"><h5>Pijama:</h5></label> 
                    
                      <% } %>
                 <% if(details.tipo.match('Short'))  { %>
                    <input type="radio" id="Short" name="tipo" value="Short" required="required" checked >
                    <label for="exampleFormControlInput1"><h5>Short:</h5></label> 
                    <% }else  { %>
                      <input type="radio" id="Short" name="tipo" value="Short" required="required"  >
                    <label for="exampleFormControlInput1"><h5>Short:</h5></label>

                      <% } %>
                 <% if(details.tipo.match('Roupas intimas'))  { %>
                    <input type="radio" id="Roupas intimas" name="tipo" value="Roupas intimas" required="required" checked> 
                    <label for="exampleFormControlInput1"><h5>Roupas intimas:</h5></label> 
                    <% }else  { %>
                      <input type="radio" id="Roupas intimas" name="tipo" value="Roupas intimas" required="required" > 
                    <label for="exampleFormControlInput1"><h5>Roupas intimas:</h5></label> 

                      <% } %>
                 <% if(details.tipo.match('Vestido'))  { %>
                    <input type="radio" id="Vestido" name="tipo" value="Vestido" required="required" checked> 
                    <label for="exampleFormControlInput1"><h5>Vestido:</h5></label> 
                    <% }else  { %>
                      <input type="radio" id="Vestido" name="tipo" value="Vestido" required="required" > 
                    <label for="exampleFormControlInput1"><h5>Vestido:</h5></label> 

                      <% } %>
                  <% if(details.tipo.match('Saia'))  { %>
                    <input type="radio" id="Saia" name="tipo" value="Saia" required="required" checked>
                    <label for="exampleFormControlInput1"><h5>Saia:</h5></label>
                    <% }else  { %>
                      <input type="radio" id="Saia" name="tipo" value="Saia" required="required" >
                    <label for="exampleFormControlInput1"><h5>Saia:</h5></label> 

                      <% } %>
                  <% if(details.tipo.match('Roupa Social'))  { %>
                    <input type="radio" id="Roupa Social" name="tipo" value="Roupa Social" required="required" checked >
                    <label for="exampleFormControlInput1"><h5>Roupa Social:</h5></label> 
                    <% }else  { %>
                      <input type="radio" id="Roupa Social" name="tipo" value="Roupa Social" required="required"  >
                    <label for="exampleFormControlInput1"><h5>Roupa Social:</h5></label>

                      <% } %>

                
                <div class="form-group">
                    <label for="exampleFormControlInput1"><h5>Cor:</h5></label>
                    
                    <select name="Cor">
                      
                      
                      <% if(details.Cor.match('Terror'))  { %>
                        <option value ="Branco" selected>Branco</option>
                        <% }else  { %>
                          <option value ="Branco" >Branco</option>
                            <% } %>
                            
                      <% if(details.Cor.match('Preto'))  { %>
                        <option value ="Preto" selected>Preto</option>
                        <% }else  { %>
                          <option value ="Preto" >Preto</option>
                            <% } %>

                        <% if(details.Cor.match('Rosa'))  { %>
                        <option value ="Rosa" selected>Rosa</option>
                        <% }else  { %>
                          <option value ="Rosa" >Rosa</option>
                            <% } %>

                        <% if(details.Cor.match('Vermelho'))  { %>
                        <option value ="Vermelho" selected>Vermelho</option>
                        <% }else  { %>
                          <option value ="Vermelho" >Vermelho</option>
                            <% } %>

                        <% if(details.Cor.match('Amarelo'))  { %>
                        <option value ="Amarelo" selected>Amarelo</option>
                        <% }else  { %>
                          <option value ="Amarelo" >Amarelo</option>
                            <% } %>

                        <% if(details.Cor.match('Azul'))  { %>
                        <option value ="Azul" selected>Azul</option>
                        <% }else  { %>
                          <option value ="Azul" >Azul</option>
                            <% } %>

                        <% if(details.Cor.match('Roxo'))  { %>
                        <option value ="Roxo" selected>Roxo</option>
                        <% }else  { %>
                          <option value ="Roxo" >Roxo</option>
                            <% } %>

                        <% if(details.Cor.match('Verde'))  { %>
                        <option value ="Verde" selected>Verde</option>
                        <% }else  { %>
                          <option value ="Verde" >Verde</option>
                            <% } %>
                            
                        </select> 
                        <br>
                <label for="exampleFormControlInput1"><h5>valor:</h5></label> 
                <input type="text" value="<%= details.valor%>" name="valor" ><br>
                <label for="exampleFormControlInput1"><h5>marca:</h5></label> 
                <input type="text" value="<%= details.marca%>" name="marca" ><br>
                <label for="exampleFormControlInput1"><h5>coleção:</h5></label> 
                <input type="text" value="<%= details.coleção%>" name="coleção" ><br>
                <label for="exampleFormControlInput1"><h5>descrição:</h5></label><br>
                <textarea name="descrição" rows="10" cols="30"><%=details.descrição%></textarea><br>
                 <button><a href="/show/">Voltar</a></button> 
                 <button type="submit">Salvar</button>
            </form>

         <%  })  %>

    </body>
    </html>