<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="pt">
    <head>
        <style>
            body {
              background-color: black;
            }
          
            </style>

        <meta charset="UTF-8">
        <title>CRUD livros</title>
    </head>

    <body>
        <h2 class="text-center text-warning">Livros</h2>

        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">
                        Nome
                    </th>
                    <th scope="col">
                        Genero
                    </th>
                    <th scope="col">
                        Editora
                    </th>
                    <th scope="col">
                        Ano
                    </th>
                    <th scope="col">
                        Numero de paginas
                    </th>
                    <th scope="col">
                        Autor
                    </th>
                    <th scope="col">
                        Preço
                    </th>
                    <th scope="col">
                        Idioma
                    </th>
                    <th scope="col">
                        Editar
                    </th>
                    <th scope="col">
                        Excluir
                    </th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach( function(details){  %>
                    <tr>
                        <td><%= details.Nome%></td>
                        <td><%= details.Genero%></td>
                        <td><%= details.Editora%></td>
                        <td><%= details.Ano%></td>
                        <td><%= details.Nmr_pag%></td>
                        <td><%= details.Autor%></td>
                        <td><%= details.Preco%></td>
                        <td><%= details.Idioma%></td>
                        <td><a href="/edit/<%= details._id %>">Editar</a></td>
                        <td><a href="/delete/<%= details._id %>">Excluir</a></td>
                    </tr>
                <% })  %>    
            </tbody>
            <button type="button" class="btn btn-primary btn-lg btn-block .btn btn-warning"><a href="/">Voltar</a></button>
        </table>
    </body>
</html>